dragon_nodered_flow.json
[
  {
    "id": "tab-dragon",
    "type": "tab",
    "label": "Dragon-01 Telemetria",
    "disabled": false,
    "info": "Back-end de telemetria da cápsula SpaceX Dragon - FIAP Global Solution 2026"
  },

  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tab-dragon",
    "name": "Recebe Telemetria",
    "topic": "spacex/dragon01/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "hivemq-broker",
    "x": 140,
    "y": 100,
    "wires": [["parse-payload"]]
  },

  {
    "id": "parse-payload",
    "type": "function",
    "z": "tab-dragon",
    "name": "Processa Dados",
    "func": "var temperatura = msg.payload.temperatura;\nvar pressao     = msg.payload.pressao;\nvar oxigenio    = msg.payload.oxigenio;\nvar alerta      = msg.payload.alerta;\n\nvar tempOk  = temperatura >= 18 && temperatura <= 28;\nvar pressOk = pressao     >= 90 && pressao     <= 110;\nvar o2Ok    = oxigenio    >= 19 && oxigenio    <= 23;\n\nvar statusTemp  = tempOk  ? 'NOMINAL' : 'ALERTA';\nvar statusPress = pressOk ? 'NOMINAL' : 'ALERTA';\nvar statusO2    = o2Ok    ? 'NOMINAL' : 'ALERTA';\n\nmsg.payload = {\n    temperatura : temperatura,\n    pressao     : pressao,\n    oxigenio    : oxigenio,\n    alerta      : alerta,\n    statusTemp  : statusTemp,\n    statusPress : statusPress,\n    statusO2    : statusO2,\n    timestamp   : new Date().toLocaleString('pt-BR')\n};\n\nif (alerta) {\n    node.warn('ANOMALIA: ' + JSON.stringify(msg.payload));\n} else {\n    node.log('OK: T=' + temperatura + ' P=' + pressao + ' O2=' + oxigenio);\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 100,
    "wires": [["debug-dados", "verifica-alerta", "extrai-temp", "extrai-press", "extrai-o2"]]
  },

  {
    "id": "debug-dados",
    "type": "debug",
    "z": "tab-dragon",
    "name": "Debug Telemetria",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.timestamp",
    "statusType": "auto",
    "x": 560,
    "y": 40,
    "wires": []
  },

  {
    "id": "verifica-alerta",
    "type": "switch",
    "z": "tab-dragon",
    "name": "Tem Alerta?",
    "property": "payload.alerta",
    "propertyType": "msg",
    "rules": [
      { "t": "true" },
      { "t": "false" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 560,
    "y": 140,
    "wires": [["notifica-alerta"], ["status-nominal"]]
  },

  {
    "id": "notifica-alerta",
    "type": "function",
    "z": "tab-dragon",
    "name": "Formata Alerta",
    "func": "var p = msg.payload;\nvar problemas = [];\nif (p.statusTemp  === 'ALERTA') problemas.push('Temperatura: ' + p.temperatura + 'C');\nif (p.statusPress === 'ALERTA') problemas.push('Pressao: '    + p.pressao     + ' kPa');\nif (p.statusO2    === 'ALERTA') problemas.push('Oxigenio: '   + p.oxigenio    + '%');\nmsg.payload = 'ANOMALIA em ' + p.timestamp + ' | ' + problemas.join(' | ');\nmsg.topic   = 'ALERTA';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 100,
    "wires": [["debug-alerta"]]
  },

  {
    "id": "status-nominal",
    "type": "function",
    "z": "tab-dragon",
    "name": "Formata Nominal",
    "func": "var p = msg.payload;\nmsg.payload = 'NOMINAL em ' + p.timestamp + ' | T=' + p.temperatura + 'C | P=' + p.pressao + 'kPa | O2=' + p.oxigenio + '%';\nmsg.topic   = 'NOMINAL';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 180,
    "wires": [["debug-alerta"]]
  },

  {
    "id": "debug-alerta",
    "type": "debug",
    "z": "tab-dragon",
    "name": "Debug Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 980,
    "y": 140,
    "wires": []
  },

  {
    "id": "extrai-temp",
    "type": "function",
    "z": "tab-dragon",
    "name": "Extrai Temperatura",
    "func": "msg.payload = msg.payload.temperatura;\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 260,
    "wires": [["dashboard-temp"]]
  },

  {
    "id": "extrai-press",
    "type": "function",
    "z": "tab-dragon",
    "name": "Extrai Pressao",
    "func": "msg.payload = msg.payload.pressao;\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 320,
    "wires": [["dashboard-press"]]
  },

  {
    "id": "extrai-o2",
    "type": "function",
    "z": "tab-dragon",
    "name": "Extrai Oxigenio",
    "func": "msg.payload = msg.payload.oxigenio;\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 380,
    "wires": [["dashboard-o2"]]
  },

  {
    "id": "dashboard-temp",
    "type": "ui_gauge",
    "z": "tab-dragon",
    "name": "Gauge Temperatura",
    "group": "grupo-telemetria",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#00b4d8", "#3fb950", "#f85149"],
    "seg1": 18,
    "seg2": 28,
    "x": 780,
    "y": 260,
    "wires": []
  },

  {
    "id": "dashboard-press",
    "type": "ui_gauge",
    "z": "tab-dragon",
    "name": "Gauge Pressao",
    "group": "grupo-telemetria",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Pressão",
    "label": "kPa",
    "format": "{{value}}",
    "min": 70,
    "max": 130,
    "colors": ["#00b4d8", "#3fb950", "#f85149"],
    "seg1": 90,
    "seg2": 110,
    "x": 780,
    "y": 320,
    "wires": []
  },

  {
    "id": "dashboard-o2",
    "type": "ui_gauge",
    "z": "tab-dragon",
    "name": "Gauge Oxigenio",
    "group": "grupo-telemetria",
    "order": 3,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Oxigênio",
    "label": "%",
    "format": "{{value}}",
    "min": 10,
    "max": 30,
    "colors": ["#f85149", "#3fb950", "#f85149"],
    "seg1": 19,
    "seg2": 23,
    "x": 780,
    "y": 380,
    "wires": []
  },

  {
    "id": "mqtt-in-alerts",
    "type": "mqtt in",
    "z": "tab-dragon",
    "name": "Recebe Alertas",
    "topic": "spacex/dragon01/alerts",
    "qos": "1",
    "datatype": "json",
    "broker": "hivemq-broker",
    "x": 140,
    "y": 460,
    "wires": [["debug-alerta-raw"]]
  },

  {
    "id": "debug-alerta-raw",
    "type": "debug",
    "z": "tab-dragon",
    "name": "Debug Alerta Raw",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 360,
    "y": 460,
    "wires": []
  },

  {
    "id": "hivemq-broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud Dragon",
    "broker": "9ca03c36523a4fbaa8ffdfb128beef7b.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": true,
    "clientid": "nodered-dragon-backend",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "GlobalSolutionESPS",
      "password": "Global@Solution1"
    }
  },

  {
    "id": "grupo-telemetria",
    "type": "ui_group",
    "name": "Dragon-01 Telemetria",
    "tab": "ui-tab-dragon",
    "order": 1,
    "disp": true,
    "width": "18",
    "collapse": false
  },

  {
    "id": "ui-tab-dragon",
    "type": "ui_tab",
    "name": "Dragon-01",
    "icon": "dashboard",
    "order": 1,
    "disp": true
  }
]
